/* debug */
.debug [class*='col-']{
  background-color: lightgreen;
  height: 100px;
  border: 1px solid red;
}

.debug .row .row [class*='col-']{
  height: 50px;
}

.debug .h_100{
  height:100px;
}

.debug .h_200{
  height: 200px;
  background-color: blue;
}

.debug .h_300{
  height: 300px;
}
.debug .h_400{
  height: 400px;
}

.debug .h_500{
  height: 500px;
}

.debug .h_600{
  height: 600px;
}
/* debug */

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #33475b;
}

.mcs_btn{
  padding: 10px;
  border-radius: 5px;
}

.mcs_btn_style{
  background-color: #fff;
  color: #6aa8ff;
  border: 1px solid #6aa8ff;
}

.p_bt{
  padding: 50px 0;
}

#developers i,
#rocker i {
  font-size: 60px;
}

#developers a i,
#rocker a i {
  font-size: 20px;
}


/* HEADER */
header .mcs_box_nav{
  width: 55%;
}

header nav {
  height: 70px;
  line-height: 70px;
}

header ul li{
  display: inline-block;
  font-weight: bold;
  padding: 0 8px;
}

header ul i {
  padding-left: 5px;
}

/* jumbotron */
#jumbotron {
  background-color: lightblue;
}

/* main */
/* SECTION-CUSTOMER */

#img_customer{
  background-color: #ddd;
}
.mcs_line_height{
  line-height: 100px;
}
/* DEVELOPERS */
#developers{
  background-color: #f0f0f0;
}

#developers img{
  width: 100%;

}

/* DATA CUSTOMER */
#data_customers{
  background-color: lightblue;
}

#data_customers .row .row {
  border-bottom:2px solid #fff;
}

/* ROCKER */
#rocker{
  background-color: #f0f0f0;
}

#rocker img{
  width: 100%;
}

#rocker .msc_rocker_box{
  background-color: #fff;
}

footer{
  height: 500px;
  background-color: lightblue;
}



@media screen and (max-width: 1198px)  {
  .mcs_brg_menu{
    display:block;
  }
  .mcs_item_menu,
  .mcs_right_menu{
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .mcs_brg_menu{
    display:none;
  }
  .mcs_item_menu,
  .mcs_right_menu{
    display: block;
  }
}

@media screen and (max-width: 420px){
  #developers i,
  #rocker i{
    display: none;
  }
}

/* END css*/
