/* debug */
.debug [class*='col-']{
  background-color: lightgreen;
  height: 100px;
  border: 1px solid red;
}

.debug .row .row [class*='col-']{
  height: 50px;
}

.debug .h_100{
  height:100px;
}

.debug .h_200{
  height: 200px;
  background-color: blue;
}

.debug .h_300{
  height: 300px;
}
.debug .h_400{
  height: 400px;
}

.debug .h_500{
  height: 500px;
}

.debug .h_600{
  height: 600px;
}
/* debug */
body{
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none !important;
  color: #33475b;
  font-size: 16px;
}

/* GENERAL RULES  */
.mcs_btn{
  padding: 10px;
  border-radius: 5px;
}

.mcs_btn_style{
  background-color: #fff;
  color: #004aff;
  border: 1px solid #004aff;
}

.mcs_btn_style:hover{
  background-color: #004aff;
  color: #fff;
  border: 1px solid #fff;
}


.mcs_bcg_white{
  background-color: #fff;
}

.p_bt{
  padding: 50px 0;
}

.p_bt_40 {
  padding: 40px 0;
}

.p_b{
  padding-bottom: 90px;
}

.m-bt_10{
  margin: 10px 0;
}

.mcs_color_green{
  color:#00d3d0;
}

.mcs_margin_span{
  margin-left: 5px;
}

.mcs_margin-left{
  margin-left: 20px;
}

.mcs_text_color{
  color: #747f9a;
}

/* RULES COMMONS */

#jumbotron h2,
#jumbotron h3 {
  font-weight: bold;
}

#jumbotron h3,
#jumbotron a,
#img_customer a,
#developers a,
#business a,
#rocker a {
  color: #004aff;
}

#developers a i:hover,
#rocker a i:hover{
  background-color: #004aff;
  border-radius: 100%;
}

#developers i,
#rocker i {
  font-size: 60px;
}

#developers a i,
#rocker a i{
  font-size: 10px;
}

#developers .mcs_arrow::before,
#rocker .mcs_arrow::before{
  content: "\f053";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
  color: #75809a;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}

#developers .mcs_arrow::after,
#rocker .mcs_arrow::after{
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}

/* HEADER */
header .mcs_box_nav{
  height: 30px;
}

header h1{
  font-weight: bold;
  font-size: 15px;
}

header nav {
  height: 70px;
  background-color: #fff;
  line-height: 70px;
}

header ul li{
  display: inline-block;
  font-weight: bold;
  padding: 0 8px;
}

header ul i {
  padding-left: 5px;
}

header .mcs_brg_menu{
  color: #004aff;
  font-size: 20px;
}

/* jumbotron */
#jumbotron {
  margin: 70px 0 0;
  background-image: url('../img/bg-home-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron h1{
  color: #fff;
}

#jumbotron h2{
  font-size: 30px;
  color: #031b4e;
}

#jumbotron p{
  color: #bbccff;
  font-size: 23px;
}

#jumbotron .mcs_bcg_form{
  background-color: #fff;
  border-radius: 7px;
}

#jumbotron .mcs_padding{
  color: #fff;
  width: 100%;
  background-color: #004aff;
}

#jumbotron .mcs_google::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/google-icon.png');
  background-size: cover;
}

#jumbotron .mcs_google{
  width: 100%;
  margin: 10px 0;
}

#jumbotron .mcs_style_form {
  color: #031b4e;
}

#jumbotron .mcs_margin_sp_form{
  margin-bottom: 25px;
}

#jumbotron .mcs_margin_sp_form a{
  text-decoration: underline !important;
}

/* Main */
/* SECTION-CUSTOMER */

#img_customer [class*="col-sm"]{
height: 150px;
line-height: 150px;
}

#img_customer{
  background-color: #f0f0f0;
}

#img_customer h3{
  font-size: 20px;
}

#img_customer img {
  width: 100%;
}

/* OPTIMIZ */
#optimize h4 {
  font-weight: bold;
  padding-top: 15px;
}

#optimize p{
  font-size: 22px;
}

#optimize .mcs_p_size p{
  font-size: 14px;
}

#optimize ul{
  text-transform: capitalize;
  margin-left:50px;
}

#optimize ul li{
  padding: 10px 5px;
}

#optimize ul li a{
  border-left: 1px solid #a4cedf;
  padding:20px 10px;
}

/* DEVELOPERS */
#developers{
  background-color: #fafafa;
  padding: 40px 0;
}

#developers img{
  width: 100%;
}

#developers h2{
  font-weight: bold;
}

#developers h4{
  margin-top: 30px;
}

#developers p{
  margin: 20px 0;
  font-size: 20px;
}

/* BUSINESs */

#business {
  margin: 50px 0;
}

#business h2{
  font-weight: bold;
}

#business h3{
  font-weight: bold;
}

#business img{
  margin-top: 20px;
}

/* DATA CUSTOMER */
#data_customers{
  background-image: linear-gradient(to bottom, #0048c5 , #00219d );
  color: #fff;
  padding: 50px 0;
}

#data_customers .row .row:not(:last-child) {
  border-bottom:1px solid #fff;
}

#data_customers p{
  margin-top: 10px;
}

/* ROCKER */
#rocker{
  background-color: #fafafa;
}

#rocker img{
  width: 55%;
}

#rocker .mcs_margin_negative {
  margin-top: -60px;
}

#rocker .mcs_mr{
  margin-right: 10px;
}

#rocker .mcs_a_padding{
  margin-bottom: 30px ;

}

#rocker p{
  font-size: 20px;
  margin-top: 25px;
}

#rocker h4{
  font-weight: bold;
}

#rocker .mcs_box_rocker{
padding: 60px 0;
}

/* GET_STARTED  */

#get_started {
  padding: 50px 0;
  background-image: linear-gradient(to bottom, #0048c5 , #00219d );
}

#get_started h2{
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
}

/* FOOTER */
footer{
  height: 500px;
  background-color: #031c4e;
}

footer ul.mcs_margin_zero{
  padding-left: 0;
}

footer ul li a{
  font-size: 20px;
  color: #7a859d;

}

footer .mcs_inline{
  display: inline-block;
  padding-right: 10px;
}


/* @media screen and (max-width: 1198px)  {
  .mcs_brg_menu{
    display:block;
  }
  .mcs_item_menu,
  .mcs_right_menu{
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .mcs_brg_menu{
    display:none;
  }
  .mcs_item_menu,
  .mcs_right_menu{
    display: block;
  }
} */

@media screen and (max-width: 1200px){
  #data_customers .mcs_margin-left{
    margin-left:0;
  }

  #data_customers .mcs_color_green {
    text-align: right;
  }
}

@media screen and (max-width: 768px){

  h1{
    font-size: 36px !important;
  }

  #data_customers .mcs_xs_margin{
    margin-top: 20px;
  }

  .mcs_color_green{
    font-size: 10px;
    font-weight: bold;
  }

  #data_customers h2{
    font-size: 33px;
    font-weight: bold;
  }

  #rocker img{
    width: 83%;
  }

  #rocker p{
    font-size: 21px;
  }

}


@media screen and (max-width: 420px){
  #developers .mcs_arrow::before,
  #developers .mcs_arrow::after,
  #rocker .mcs_arrow::before,
  #rocker .mcs_arrow::after {
    display: none;
  }

 #optimize  ul {
    margin-left:  0!important;
    padding-left: 0;
  }

  #data_customers .mcs_margin-left{
    margin-left:0;
  }

  #data_customers .mcs_xs_margin{
    margin-top: 20px;
  }

  .mcs_color_green{
    font-size: 10px;
    font-weight: bold;
  }

  #rocker img{
    width: 97%;
  }

  #rocker p{
    font-size: 12px;
    margin: 15px 0;
  }

  #rocker .mcs_box_rocker{
  padding: 20px 0;
  }

}

/* END css*/
