/* debug */
.debug [class*='col-']{
  background-color: lightgreen;
  height: 100px;
  border: 1px solid red;
}

.debug .row .row [class*='col-']{
  height: 50px;
}

.debug .h_100{
  height:100px;
}

.debug .h_200{
  height: 200px;
  background-color: blue;
}

.debug .h_300{
  height: 300px;
}
.debug .h_400{
  height: 400px;
}

.debug .h_500{
  height: 500px;
}

.debug .h_600{
  height: 600px;
}
/* debug */
body{
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none !important;
  color: #33475b;
  font-size: 16px;
}

.mcs_btn{
  padding: 10px;
  border-radius: 5px;
}

.mcs_btn_style{
  background-color: #fff;
  color: #004aff;
  border: 1px solid #004aff;
}

.p_bt{
  padding: 50px 0;
}

.m-bt_10{
  margin: 10px 0;
}

#jumbotron h2,
#jumbotron h3 {
  font-weight: bold;
}

#jumbotron h3,
#jumbotron a,
#img_customer a{
  color: #004aff;
}

#developers i,
#rocker i {
  font-size: 60px;
}

#developers a i,
#rocker a i {
  font-size: 20px;
}


/* HEADER */
header .mcs_box_nav{
  height: 30px;
}

header h1{
  font-weight: bold;
  font-size: 15px;
}

header nav {
  height: 70px;
  background-color: #fff;
  line-height: 70px;
}

header ul li{
  display: inline-block;
  font-weight: bold;
  padding: 0 8px;
}

header ul i {
  padding-left: 5px;
}

header .mcs_brg_menu{
  color: #004aff;
  font-size: 20px;
}

/* jumbotron */
#jumbotron {
  margin: 70px 0 0;
  background-image: url('../img/bg-home-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron h1{
  color: #fff;
}

#jumbotron h2{
  font-size: 30px;
  color: #031b4e;
}

#jumbotron p{
  color: #bbccff;
  font-size: 23px;
}

#jumbotron .mcs_bcg_form{
  background-color: #fff;
  border-radius: 7px;
}

#jumbotron .mcs_padding{
  color: #fff;
  width: 100%;
  background-color: #004aff;
}

#jumbotron .mcs_google::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url('../img/google-icon.png');
  background-size: cover;
}

#jumbotron .mcs_google{
  width: 100%;
  margin: 10px 0;
}

#jumbotron .mcs_style_form {
  color: #031b4e;
}

#jumbotron .mcs_margin_sp_form{
  margin-bottom: 25px;
}

#jumbotron .mcs_margin_sp_form a{
  text-decoration: underline !important;
}

/* Main */
/* SECTION-CUSTOMER */

#img_customer [class*="col-sm"]{
height: 150px;
line-height: 150px;
}

#img_customer{
  background-color: #f0f0f0;
}

#img_customer h3{
  color: #747f9a;
  font-size: 20px;
}

#img_customer img {
  width: 100%;
}

/* OPTIMIZ */
#optimize h4 {
  font-weight: bold;
  padding-top: 15px;
}

#optimize p{
  color: #747f9a;
  font-size: 22px;
}

#optimize .mcs_p_size p{
  font-size: 14px;
}

#optimize ul{
  text-transform: capitalize;
  margin-left:50px;
}

#optimize li{
  padding: 10px 5px;
}

#optimize li a{
  color: #75809a;
  border-left: 1px solid #a4cedf;
  padding:20px 10px;
}

/* DEVELOPERS */
#developers{
  background-color: #f0f0f0;
}

#developers img{
  width: 100%;
}

#developers .mcs_pippo::before,
#developers .mcs_pippo::after{
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

}


/* DATA CUSTOMER */
#data_customers{
  background-color: lightblue;
}

#data_customers .row .row {
  border-bottom:2px solid #fff;
}

/* ROCKER */
#rocker{
  background-color: #f0f0f0;
}

#rocker img{
  width: 100%;
}

#rocker .msc_rocker_box{
  background-color: #fff;
}

footer{
  height: 500px;
  background-color: lightblue;
}



/* @media screen and (max-width: 1198px)  {
  .mcs_brg_menu{
    display:block;
  }
  .mcs_item_menu,
  .mcs_right_menu{
    display: none;
  }

}

@media screen and (min-width: 1200px) {
  .mcs_brg_menu{
    display:none;
  }
  .mcs_item_menu,
  .mcs_right_menu{
    display: block;
  }
} */

@media screen and (max-width: 420px){
  #developers i,
  #rocker i{
    display: none;
  }

 #optimize  ul {
    margin-left:  0!important;
    padding-left: 0;
  }

}

/* END css*/
